<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@using Resources;

@model MailboxSync.Models.FoldersViewModel

<div class="col-md-12">
    <h3>Results:</h3>
    <div class="col-md-12">
        @if (Model != null)
        {
            if (Model.Items.Any())
            {
                foreach (var item in Model.Items)
                {
                    if (Model.Selectable)
                    {
                        <label>
                            <input type="radio" name="items" value=@item.Id onclick="onSelectedItemChanged()" />
                            &nbsp;@item.Name
                        </label><br />
                    }
                    else
                    {
                        <label>
                            @item.Name
                        </label><br />
                    }
                    if (item.Messages != null && item.Messages.Count > 0)
                    {
                        <table id="entity">
                            @foreach (var message in item.Messages)
                            {
                            <tr>
                                <td class="pad">@message.Subject</td>
                                <td>@message.CreatedDateTime</td>
                                <td>@message.IsRead</td>
                            </tr>
                            }
                        </table>
                        <br />
                    }
                }
            }
            else
            {
                <p>@Resource.No_Results</p>
            }
        }
        <br />
    </div>
</div>
